@font-face {
   font-family: 'I Heart Summer - TTF';
   font-display: swap;
   src: url('file:///C:/Users/georgia%20nerida/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-26_085935/fonts/I%20Heart%20Summer%20-%20TTF/font.ttf');
}
