@font-face {
   font-family: 'Boughies Demo';
   font-display: swap;
   src: url('Boughies Demo/font.ttf');
}
@font-face {
   font-family: 'SouthDjakartaDemo';
   font-display: swap;
   src: url('SouthDjakartaDemo/font.ttf');
}
@font-face {
   font-family: 'Cream Peach';
   font-display: swap;
   src: url('Cream Peach/font.ttf');
}
@font-face {
   font-family: 'I Heart Summer - TTF';
   font-display: swap;
   src: url('I Heart Summer - TTF/font.ttf');
}
