@font-face {
   font-family: 'SouthDjakartaDemo';
   font-display: swap;
   src: url('file:///C:/Users/georgia%20nerida/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-26_085935/fonts/SouthDjakartaDemo/font.ttf');
}
